*{
    margin: 0;padding: 0;
}
ul{
    list-style: none;
}
p{
    margin:0!important;
}
.panda_container{
    width: 100%;
    font-size: 12px;
    font-family: "Microsoft yahei", arial, Simsun, sans-serif;
    color: #333;
    background-color: #fff;
}
.panda_nav_bar{
    color: #333;
    background: #F4F4F4;
}
.panda_nav_bar .slogan {
    font-size: 12px;
    color: #666;
    display: inline-block;
    margin: 10px 0 0 14px;
}
.panda_nav_bar_cont{
    position: relative;/*相对定位*/
    min-width: 980px;
    max-width: 1180px;
    height: 36px;
    margin: 0 auto;
    background: #F4F4F4;
}
.nav-bar-set{
    position: absolute;/*绝对定位*/
    right: 0;
    top: 0;
    height: 36px;
}
.panda_nav_bar .set-list {
    float: left;/*浮动布局*/
    height: 12px;
    line-height: 12px;
    margin: 11px 0 0 0;
    border-right: 1px solid #DDDDDD;
    position: relative;/*相对定位*/
}
.panda_nav_bar .person-text {
    display: inline-block;
    margin: -12px -1px 0;
}
.panda_nav_bar .person-text .set-text {
    position: relative;/*相对定位*/
    display: inline-block;
    padding: 12px 0px;
    width: 92px;
    color: #666;
    text-align: center;
    border: 1px solid transparent;
    border-bottom: none;
}
.panda_nav_bar .set-logIn.set-list .person-text .set-text {
    width: 120px;
    color: #2ca182;
    border-right: none;
}
.panda_hd{
    position: relative;/*相对定位*/
    min-width: 980px;
    max-width: 1180px;
    height: 80px;
    margin: 0 auto;
}
.panda_hd .pandaLogo{
    display: inline-block;
    width: 126px;
    height: 43px;
    margin: 18px 0;
    overflow: hidden;
}
.panda_hd .pandaLogo a {
    display: block;
    width: 126px;
    height: 43px;
    background: url(../imgs/logo.png) no-repeat;
    text-indent: -999px;
    overflow: hidden;
}
.panda_search{
    position: absolute;/*绝对定位*/
    top: 25px;
    left: 170px;
    width: 28%;
    font-family: "Microsoft Yahei", Tahoma;
}
.panda_search_input{
    border-radius: 4px;
    position: absolute;/*绝对定位*/
    top: 0;
    left: 0;
    width: 100%;
    height: 28px;
    padding: 0 45px 0 5px;
    line-height: 28px;
    font-size: 12px;
    font-family: "Microsoft Yahei", Tahoma;
    border: 1px solid #35b795;
    box-shadow: 2px 2px 1px 0 rgba(164, 203, 255, 0.25) inset;
    outline: 0 none;
    box-sizing:content-box;
}
.panda_search_button{
    position: absolute;/*绝对定位*/
    top: 1px;
    right: -51px;
    width: 42px;
    height: 28px;
    cursor: pointer;
    background-color: rgb(53, 183, 149);
    border: 0;
}

.panda_search_button img{
    width: 18px;
    height: 18px;
    margin: 5px auto;
}
.panda_nav_single{
    width: 100%;
    background: #35b795;
    height: 40px;
}
.panda_nav_single .panda_nav{
    min-width: 980px;
    max-width: 1180px;
    margin: 0 auto;
    height: 40px;
    background: #35b795;
}
.panda_nav_ul{
    width: 100%;
    margin: 0 auto;
    padding: 0;
    height: 40px;
}
.panda_nav_ul li{
    float: left;
}
.panda_nav_ul .panda_nav_li a{
    line-height: 40px;
    color: #fff;
    text-decoration: none;
    display: block;
    height: 40px;
    padding: 0 12px;
    cursor: pointer;
    font-size: 15px;
}
.panda_nav_ul li.panda_nav_li:hover{
    background: #2ca182;
}
.panda_nav_ul  .divider{
    width: 1px;
    height: 14px;
    padding-left: 0;
    margin: 13px 0 0;
    background-color: #2ca182;
    clear: none;
    border: none;
}
.panda_footer{
    padding: 28px 0 30px 0;
    color: #666;
    margin-top: 0;
    width: 1180px;
    margin: 28px auto 0;
    text-align: center;
}
.panda_content{
    background: #f5f8fa;
    overflow: hidden;
    width: 100%;
    height: auto;
    padding-top: 10px;
    padding-bottom: 40px;
}
.detail_dir{
    display: inline-block;
    color: #666;
}
.detail_dir a{
    color: #2ca182;
    text-decoration: none;
}
.panda_content .panda_detail_content{
    min-width: 980px;
    max-width: 1180px;
    margin: 0 auto;
}
.detail_title_box{
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 20px;
    height: 280px;
    border: 1px solid #dfdfdf;
    background-color: #fff;
}
.detail_title_left{
    width: 500px;
    float: left;
    height: 280px;
}
.detail_img{
    width: 500px;
    height: 280px;
}
.detail_img img{
    width: 100%;
    height: 100%;
}
.detail_title_right{
    float: right;
    width: 610px;
}
.detail_title_right h2{
    width: 400px;
    margin-bottom: 5px;
    font-size: 30px;
    font-weight: normal;
}
.detail_msg_ul{
    margin-top: 30px;
    margin-bottom: 5px;
}
.detail_msg_li{
    margin-top: 20px;
    width: 480px;
    line-height: 18px;
}
.detail_msg_li .tip_title{
    float: left;
    width: 60px;
    font-weight: 700;
}
.detail_msg_li .tip_content{
    margin-left: 20px;
}
.service_type{
    height: 18px;
    margin-left: 80px;
}
.service_type>li{
    float: left;
    margin-right: 10px;
    padding: 0 5px;
    height: 18px;
    line-height: 18px;
    color: #35b795;
    border: 1px solid #2ca182;
    cursor: pointer;

}
.comment_box{
    padding: 0 30px;
    line-height: 20px;
    overflow: hidden;
    position: relative;
    top: 20px;
}
.comment{
    margin: 10px 0;
    height: 40px;
}
.comment img{
    width: 24px;
    height: 24px;
}
.comment span{
    display: inline-block;
    line-height: 40px;
    position: absolute;
    left: 100px;
}
.quotation_right{
    position: absolute;
    left: 0;
}
.quotation_left{
    position: absolute;
    right: 100px;
    bottom: 20px;
}
.personName{
    float: right;
    margin-right: 100px;
    color: #666;
}
.detail_box{
    padding: 41px 48px 25px 48px;
    background-color: #fff;
    border: 1px solid #d5d5d5;
    box-shadow: 1px 1px 1px #ebeef0;
    position: relative;
}
.introduce_title{
    position: absolute;
    top: 0;
    left: -1px;
    padding-left: 48px;
    width: 100px;
    height: 41px;
    line-height: 41px;
    color: #fff;
    font-size: 16px;
    font-style: normal;
    background-repeat: no-repeat;
    background-color: #35b795;
}
.introduce_feature{
    margin-top: 20px;
    overflow: hidden;
}
.introduce_feature span{
    display: inline-block;
    padding: 2px 8px;
    margin-right: 20px;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    background-color: #ff9913;
    border-radius: 3px;
}
.introduce_content{
    line-height: 22px;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px dotted #ccc;
    overflow: hidden;
}
